<html>

<body>
    <h2>
        Add Country
    </h2>
    <form action="/addCountry" method="POST">
    <label>
        co_code
    </label>
    <input type="text" name="co_code">
    <label>
        co_name
    </label>
    <input type="text" name="co_name">
    <label>
        co_details
    </label>
    <input type="text" name="co_details">
    <input type="submit" value="OK">
  
</form>
</body>


</html>