<html>

<body>
    <h2>
        <!--add country page-->
        Add Country
    </h2>
    <!-- this is where the addCountry from index.js is carried out. Its a post method-->
    <form action="/addCountry" method="POST">
           <!--Enter the details below-->
    <label>
        Country Code
    </label>
    <input type="text" name="co_code">
    <br>
    <br>
    <label>
        Country Name
    </label>
    <input type="text" name="co_name">
    <br>
    <br>
    <label>
        Country Details
    </label>
    <input type="text" name="co_details">
    <br>
    <br>
       <!--Confirm the submission of the new entry here-->
    <input type="submit" value="OK">
  
</form>
</body>


</html>