<html>

<body>
    <h2>
        Add HeadOfState
    </h2>
       <!--here we carried out the addHeadOfState post method from index.js-->
    <form action="/addHeadOfState" method="POST">
        <!--enter the information in below-->
    <label>
        Country ID
    </label>
    <input type="text" name="_id">
    <br>
    <br>
    <label>
       Name
    </label>
    <input type="text" name="headOfState">
    <br>
    <br>
       <!--Confirm the new entry to the database-->
    <input type="submit" value="OK">
  
</form>
</body>


</html>