<html>

<body>
    <h2>
        Add HeadOfState
    </h2>
    <form action="/addHeadOfState" method="POST">
    <label>
        _id
    </label>
    <input type="text" name="_id">
    <label>
       headOfState
    </label>
    <input type="text" name="headOfState">
   
    <input type="submit" value="OK">
  
</form>
</body>


</html>