<html>

<body>
    <h2>
        Add HeadOfState
    </h2>
    <form action="/addHeadOfState" method="POST">
    <label>
        Country ID
    </label>
    <input type="text" name="_id">
    <br>
    <br>
    <label>
       Name
    </label>
    <input type="text" name="headOfState">
    <br>
    <br>
    <input type="submit" value="OK">
  
</form>
</body>


</html>