<html>

<body>
    <h2>
        Heads of State
    </h2>
    <table>
        <tr>
            <th>_id</th>
            <th>headOfState</th>
           
        </tr><% headofstate.forEach((headofstate)=>{%><tr>
            <td><%= headofstate._id %></td>
            <td><%= headofstate.headOfState %></td>
        </tr>
        <%})%>
        </table
      
</body>


</html>