<html>

<body>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
    <h2>
        Heads of State
    </h2>
    <a href="http://localhost:3000/addHeadOfState"><button type="button">Add Head Of State</button></a> 
    <br>
    <br>
    <table>
        <tr>
            <th>_id</th>
            <th>headOfState</th>
           
        </tr><% headofstate.forEach((headofstate)=>{%><tr>
            <td><%= headofstate._id %></td>
            <td><%= headofstate.headOfState %></td>
        </tr>
        <%})%>
    </table>
    <br>
    <br>
    <a href="http://localhost:3000/"><button type="button">Home</button></a> 
      
</body>


</html>