<html>

<body>

    <h2>
        Update Country
    </h2>
    <form action="/updateCountry" method="POST">
    <label>
       Code
    </label>
    <input value="<%= countries.co_code %>" name="co_code" readonly>
    <label>
        co_name
    </label>
    <input type="text" name="co_name">
    <label>
        co_details
    </label>
    <input type="text" name="co_details">
    <input type="submit" value="OK">
  
</form>
</body>

 
</html>